:root {
    background-color: rgb(58, 56, 56);
    color: orange
}

*{
    margin: 0;
    padding: 0;
    color: orange;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    color: white;
}

.navbar-left {
    text-decoration: none;
    font-size: 20px;
    float: left;
    padding: 30px;
}

.navbar-right {
    font-size: 20px;
    float: right;
    padding: 20px;
}

.home-text {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: auto;
}

.flex-center {
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}

.btn {
    display: flex;
    border: 2px solid orange;
    font-size: 30px;
    background-color: rgb(58, 56, 56);
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}

.btn-game {
    display: flex;
    border: 2px solid orange;
    font-size: 30px;
    background-color: rgb(58, 56, 56);
    margin: auto;
    margin-top: 30px;
    width: 30%;
    justify-content: center;
    text-decoration: none;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}